@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap");

/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", "Helvetica Neue", sans-serif;
  font-weight: 800;
}

::selection {
  background-color: #695aa6;
  color: #fff;
}

nav .navbar-brand,
nav .nav-link {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

nav .nav-link {
  display: inline-block;
}

nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  -moz-transition: width 0.3s linear;
  -ms-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
}

nav .nav-link:hover::after {
  width: 100%;
}

.header {
  background-image: linear-gradient(to top, #fff, transparent, transparent),
    url(../img/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-content a.btn {
  background-color: #695aa6;
}

.header-content a.btn:hover {
  background-color: #574993;
}

.header #down {
  background-color: #695aa6;
  color: #fff;
  margin-top: -100px;
  text-align: center;
  animation: down 1s ease infinite;
  -webkit-animation: down 1s ease infinite;
}

.header #down:hover {
  background-color: #574993;
}

@keyframes down {
  from {
    margin-top: -100px;
  }
  50% {
    margin-top: -150px;
  }
  to {
    margin-top: -100px;
  }
}

#about a.btn {
  border: 1px solid #695aa6;
}

#about a.btn:hover {
  background-color: #574993;
  color: #fff;
}

#about .card {
  width: 100%;
  height: 350px;
  margin-top: 3em;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

#about svg {
  margin-top: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#about .card:hover svg {
  margin-top: 0;
}

#about .card:hover p {
  margin-top: 5%;
}

#about .card p {
  font-weight: 200;
  margin-top: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#contact button.kirim {
  background-color: #fff;
  border: 1px solid #695aa6;
}

#contact button.kirim:hover {
  background-color: #574993;
  color: #fff;
}

#footer .kiri {
  text-align: right;
  font-size: 2em;
}

#footer .kiri a {
  text-decoration: none;
}